<h1>{{title}}</h1>
<img src="{{image}}" alt="article image">
<p><a href="{{link}}">Link to article</a></p>
<p>{{summary}}</p>
<i>{{formatDate date "dddd, MMMM Do YYYY"}}</i>
<hr>
<div class="comment-box">
   <form>
      <textarea name="form-body" id="form-body" cols="30" rows="5" placeholder="your comment"></textarea>
      <br>
      <input type="text" name="form-name" id="form-name" placeholder="Your Name">
      <br>
      <input type="submit" id="form-submit" value="Submit Comment" data-id="{{_id}}">
   </form>
   {{#if comment}}
      {{#each comment}}
         <p>{{body}}</p>
         <i>{{commenter}} | {{formatDate date "dddd, MMMM Do YYYY"}}</i> <span class="comment-delete" data-id="{{_id}}" style="cursor: pointer"><strong>[X]</strong></span>
      {{/each}}
   {{else}}
      <p>No Comments...</p>
   {{/if}}
</div>
