<h1>Recent VR News <button id="refresh-articles"> Refresh Articles</button></h1>

<div class="article">
{{#each articles}}
   <h3>{{title}}</h3>
   <a href="{{link}}">Link to source</a>
   <p>{{summary}}</p>
   <a href="/article/{{_id}}">Show comments</a> - <i>{{formatDate date "dddd, MMMM Do YYYY"}}</i>
{{/each}}
</div>